@charset "UTF-8";

/** Reset and base styles **/
* {
	margin:		0;
	padding:	0;
	border:		none;
}

body {
	font:	13px/18px sans-serif;
	color:	#333;
	background-color:	#fff;
}

a {
	text-decoration:	none;
	font-weight:	bold;
	color:			inherit;
}

	a:hover {
		color:	#00adee;
		text-decoration:	none;
	}


/** Theme **/
.reference-link {
	font-weight:	normal;
}

.items-group {
	padding:	16px;

	-o-box-sizing:		border-box;
	-ms-box-sizing:		border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	box-sizing:			border-box;
}

footer {
	float:	none;
	width:	auto;
	margin:	16px 16px 0 16px;
	padding:	16px 0 0 0;
	border-top:	1px solid #aaa;
	clear:	both;

	color:	#888;
}

h2 {
	margin:		0 0 16px 0;
	padding:	0 0 16px 0;
	border-bottom:	4px solid #333;
	font-size:	2em;
}

p {
	margin:	0 0 16px 0;
}

.item {
	position:	relative;
	padding:	0 0 0 16px;
	margin-bottom:	0.4em;
	list-style:	none;
}

	.item:before {
		content:	'-';
		display:	block;
		position:	absolute;
		top:	-2px;
		left:	0;

		font-size:		24px;
		font-weight:	bold;
	}

	.title {
		display:	inline;
		margin:		0;
		font-size:	1em;
	}

.platform,
.notes {
	font-size:	9px;
	color:		#999;
}

	.notes {
		position:	relative;
		top:		-2px;
		margin:		0.3em 0 0 0;

		font-size:		11px;
		line-height:	13px;
	}

	.platform:before {
		position:	relative;
		content:	"";
		display:	none;
		width:	0.8em;
		height:	0.8em;
		top:	1px;
		margin-left:	0.2em;
		margin-right:	0.5em;

		vertical-align:	text-top;

		-webkit-border-radius:	50%;
		border-radius:			50%;
	}

	/* Platform colours */
	.platform-xbox .platform:before,
	.platform-xbla .platform:before,
	.platform-360 .platform:before,
	.platform-xbox360 .platform:before,
	.platform-xboxone .platform:before,
	[class^="item platform-playstation"] .platform:before,
	[class^="item platform-ps"] .platform:before,
	.platform-playstation .platform:before,
	.platform-playstation2 .platform:before,
	.platform-ps2 .platform:before,
	.platform-iphone .platform:before,
	.platform-ipad .platform:before,
	.platform-ios .platform:before,
	.platform-wii .platform:before,
	.platform-wiiu .platform:before,
	.platform-nes .platform:before,
	.platform-snes .platform:before,
	.platform-n64 .platform:before,
	.platform-gamecube .platform:before,
	.platform-gc .platform:before,
	[class^="item platform-gameboy"] .platform:before,
	.platform-gb .platform:before,
	.platform-gba .platform:before,
	[class^="item platform-ds"] .platform:before,
	.platform-2ds .platform:before,
	.platform-3ds .platform:before,
	.platform-famicom .platform:before,
	.platform-pc .platform:before,
	.platform-mac .platform:before {
		/* Show circle */
		display:	inline-block;
	}

		/* Colourise circle */
		.platform-xbox .platform:before {		background-color: #8dc658; }
		.platform-xbla .platform:before,
		.platform-360 .platform:before,
		.platform-xbox360 .platform:before {	background-color: #97c92f; }
		.platform-xboxone .platform:before {	background-color: #107d18; }
		[class^="item platform-playstation"] .platform:before,
		[class^="item platform-ps"] .platform:before {	background-color: #0f0f0f; }
		.platform-playstation .platform:before {	background-color: #306eb3; }
		.platform-playstation2 .platform:before,
		.platform-ps2 .platform:before {	background-color: #2205d1; }
		.platform-wii .platform:before {	background-color: #8e8c8d; }
		.platform-wiiu .platform:before {	background-color: #2ecdfc; }
		.platform-nes .platform:before,
		.platform-snes .platform:before {	background-color: #fc0a1a; }
		.platform-n64 .platform:before {	background-color: #1821a5; }
		.platform-gamecube .platform:before,
		.platform-gc .platform:before {	background-color: #474e94; }
		.platform-iphone .platform:before,
		.platform-ipad .platform:before,
		.platform-ios .platform:before {	background-color: #2699e3; }
		.platform-gb .platform:before,
		[class^="item platform-gameboy"] .platform:before,
		.platform-gba .platform:before {	background-color: #3942a5; }
		[class^="item platform-ds"] .platform:before,
		.platform-2ds .platform:before,
		.platform-3ds .platform:before {	background-color: #b9091d; }
		.platform-famicom .platform:before {	background-color: #63010d; }
		.platform-pc .platform:before {		background-color: #0000AA; }
		.platform-mac .platform:before {	background-color: #d2d2d4; }

.tags {
	display:		none;
	margin-left:	0.6em;
}

	/* Show tags only on hover */
	.item:hover .tags {
		display:	inline-block;
	}

	.tag {
		display:	inline;
		color:	#666;
		font-size:	11px;
	}
		.tag:before {
			content:	"#";
		}
		.tag:after {
			content:	" ";
		}


.filters {
	padding:	12px 18px 6px 18px;
	width:		100%;
	margin-left:	-18px;
	overflow:	hidden;
	clear:		both;

	text-align:	center;
	background:	#333;
	color:		#fff;
}

	.filters h2 {
		display:	none;
	}

	.filter-container {
		margin-bottom:	12px;
		cursor:	default;
	}
	
		.filter-container:last-of-type {
			margin-bottom:	0;
		}


	.filters h3 {
		margin:	0 0 3px 0;

		font-weight:	normal;
		font-size:		12px;
		text-transform:	uppercase;
	}

	.filter-list {
		display:	inline-block;
		margin:		0;
		padding:	0;
		list-style:	none;
		letter-spacing:	3px;
	}

		.filter-list li {
			display:	inline-block;
			letter-spacing:	0;
			margin-bottom:	6px;
		}

			.filter-list input {
				display:	none;
			}

			.filter-list label {
				display:	block;
				padding:	1px 6px 0 6px;

				background:	#555;
				color:		#ddd;
				cursor:	pointer;

				-webkit-border-radius:	2px;
				border-radius:			2px;

				-webkit-transition:	all 0.2s;
				transition:			all 0.2s;
			}

				.filter-list input:checked + label {
					background:	#fff;
					color:		#222;
				}


@media only screen and (min-width: 480px){
	body {
		padding:	16px;
	}

	.items-group {
		float:	left;
		width:	50%;
	}

		/* Different number of columns */
		[data-count="1"] .items-group { width: 100%; }

	footer {
		margin:	16px 16px 0 16px;
	}
}

@media only screen and (min-width: 700px){
	body {
		padding-bottom:	60px;
	}

	.items-group {
		float:	left;
		width:	25%;
	}

		/* Different number of columns */
		[data-count="2"] .items-group { width: 50%; }
		[data-count="3"] .items-group { width: 33.33%; }
		[data-count="4"] .items-group { width: 25%; }


	.filters {
		position:	fixed;
		bottom:		0;
		left:		0;
		right:		0;
		z-index:	5;
	}

	.filter-container {
		display:	inline-block;
		margin:		0 12px;
	}

		.filter-container:last-of-type {
			display:	block;
			float:		right;
			text-align:	right;
		}

		.filter-container:first-of-type {
			display:	block;
			float:		left;
			text-align:	left;
		}

	.filters h3 {
		display:	inline-block;
		margin:		0 5px 0 0;
		padding:	0;
	}
}
